{% extends 'bg_tracker/base.html' %}

{% block title %}Password reset confirm{% endblock %}

{% block content %}
    <div class="container mt-3">

        {% if validlink %}

            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form method="post">{% csrf_token %}
                <fieldset>
                    <input class="hidden mb-2" autocomplete="username" value="{{ form.user.get_username }}">
                    <div>
                        {{ form.as_p }}
                    </div>

                    <input type="submit" class="btn btn-primary" value="Change my password'">
                </fieldset>
            </form>

        {% else %}

            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.}</p>

        {% endif %}

    </div>
{% endblock %}